body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flexContainer {
  display: flex;
}
.flexItem {
  flex: 1;
}
.flexStart {
  justify-content: flex-start;
}
.flexEnd {
  justify-content: flex-end;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.c-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
  align-items: center;
}

.v-flex-container {
  display: flex;
  flex-flow: column;
}
